.main-body {
  @include base-container;
}

.main-body__note,
.main-body > .highlight > pre {
  @include content-segment;
}

.main-body > .highlight > pre {
  margin: 0 auto;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.main-body > .highlight {
  background: #eee;
  background-image:
    repeating-linear-gradient(
      45deg,
      #e8e8e8,
      #e8e8e8 3px,
      white 4px,
      white 6px
    );
}

.main-body__note .main-body__note-body {
  width: 80%;
  padding: 0 1.5em;
  border: 1px solid #ff5;
  background: #fffff8;
  background-image:
    repeating-linear-gradient(
      45deg,
      #ffc,
      #ffc 3px,
      #fffff8 4px,
      #fffff8 6px
    );
}

